.quiz-container {
    margin-bottom: 20px;
}

.quiz-question {
    align-items: flex-start;
}

.quiz-choices {
    list-style-type: none;
    padding-left: 20px;
}

.quiz-choice-item {
    margin-bottom: 5px;
}

.quiz-choice-label {
    display: flex;
    align-items: center;
}

.quiz-choice-checkbox {
    margin-right: 10px;
}