.chat-box {
    max-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
}

.profile-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
    gap: 40px;
}

.profile-2 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}