body {
    background-color: #272B30;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mg-right {
    justify-content: flex-end;

}

.mg-right .text {
    align-items: flex-end;
}

.mg-left .text {
    align-items: flex-start;
}