

.input-container {
    background-color: #FCFCFC;
    padding: 12px 16px;
    border-radius: 12px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.input-container input[type="text"] {
    border: none;
    outline: none;
    background-color: #FCFCFC;
    margin-right: 10px;  
    font-weight: 500;
    font-size: 15px;
    width: 100%;
    padding: 0px 10px;
}

.input-container button[type="submit"] {
    border: none;
    outline: none;
    background-color: #2A85FF;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
   
}