

.input-container {
    background-color: #FCFCFC;
    padding: 5px;
    border-radius: 12px;
}

.input-container input[type="text"] {
    border: none;
    outline: none;
    background-color: #FCFCFC;
    margin-right: 10px;
    width: 95%;
    padding: 0px 10px;
}

.input-container button[type="submit"] {
    border: none;
    outline: none;
    background-color: #2A85FF;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
   
}